<%- include("partials/header"); -%>

<div class="result-div">
  <h3>Air Quality is: <%=data.airQuality%> </h3>
  <br>
  <ol>
    <li>CO: <%=data.co%> </li>
    <li>NO:<%=data.no%> </li>
    <li>NO2: <%=data.no2%> </li>
    <li>SO2: <%=data.so2%> </li>
    <li>PM 2.5: <%=data.pm2_5%> </li>
    <li>PM 10: <%=data.pm10%> </li>
  </ol>
</div>
<%- include("partials/footer"); -%>
<!-- </body>
</html> -->
